* text=auto

*.css text eol=lf
*.gradle text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.kt text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.php text eol=lf
*.phtml text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.xml text eol=lf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
